/*
 * Block _auth_btn
 */
#_reg_block
{
    position: absolute;
    width: 100%; height: 100%;
    left: 15px; top: 15px;
    z-index: 1000;
    box-sizing: border-box;

}

/*
 **********************
 */

/*
 * Block _auth_panel
 */
._auth_panel
{
    position: relative;
    padding-left: -20px;
    background-color: #ffffff;
    left: 50%; top: 50%;
    width: 350px; height: 250px;
    margin-left: -175px; margin-top: -125px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

._auth_panel::before {
    z-index: 1; /* Накладываем поверх, чтобы скрыть следы тени */
    box-shadow: none; /* Прячем тень */
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn-right { text-align: right; }
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }
.facebook,.vk { min-width:170px; }
.facebook { background-color:#354E84;color:#fff; }
.vk { background-color:#2a5885;color:#fff; }
.facebook:hover,.vk:hover { color:#fff; }