ErrorDocument 401 /core/err/401.php
ErrorDocument 403 /core/err/403.php
ErrorDocument 404 /core/err/404.php
ErrorDocument 500 /core/err/500.php
Options +Includes -Indexes

AddDefaultCharset UTF-8

RewriteEngine on
#Роутинг на главный контроллер
RewriteRule ^$ /views/controller.php [L]
#Роутинг вьюшек
RewriteRule ^([A-Za-z0-9-/]+)$ /views/controller.php [L]