ErrorDocument 401 /core/err/401.php
ErrorDocument 500 /core/err/500.php
Options +Includes -Indexes

AddDefaultCharset UTF-8

RewriteEngine on
#Роутинг на главную страницу
RewriteRule ^$ /views/controller.php?view=base [QSA,L]
#Роутинг вьюшек
RewriteRule ^([A-Za-z0-9-._]+)$ /views/controller.php?view=$1 [QSA,L]