<div class="btn-group list_items">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        {% category_name %} <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        {% subsections %}
        <li><a href="javascript://">Добавить подраздел</a></li>
        <li class="divider"></li>
        <li><a href="javascript://">Редактировать</a></li>
        <li><a href="javascript://">Удалить</a></li>
    </ul>
</div>