<div class="btn-group list_items">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        {% category_name %} <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu">
        {% subsections %}
        <li><a href="javascript://" class="btn-add-sub" data-id="{% category_id %}">Добавить подраздел</a></li>
        <li class="divider"></li>
        <li><a href="javascript://" class="btn-del" data-del="category" data-id="{% category_id %}">Удалить</a></li>
    </ul>
</div>