<div class="col-xs-4 col-sm-3 col-md-2">
    <div class="input-group-btn">
        <a href="https://www.instagram.com/{% profile_name %}" target="_blank" data-toggle="dropdown" class="thumbnail">
            <img src="{% profile_image %}" width="150px">
            <div class="caption text-center bg-{% profile_status %}">
                <span class="caret"></span>
            </div>
        </a>
        <ul class="dropdown-menu pull-right">
            <li><a href="https://www.instagram.com/{% profile_name %}" target="_blank">{% profile_name %}</a></li>
            <li class="divider"></li>
            {% if profile_status %}
                <li><a href="javascript://" class="btn-stat" data-stat="0" data-id="{% profile_id %}">Остановить</a></li>
            {% else %}
                <li><a href="javascript://" class="btn-stat" data-stat="1" data-id="{% profile_id %}">Запустить</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="javascript://" class="btn-del" data-del="profiles" data-id="{% profile_id %}">Удалить</a></li>
        </ul>
    </div>
</div>