<div class="container">
    <div class="row">
        <div class="col-xs-10">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Управление доступом</h3>
                </div>
                <div class="panel-body">
                    {% access_elements %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Управление разделами</h3>
                </div>
                <div class="panel-body">
                    {% category_elements %}
                </div>
                <div class="panel-footer">
                    <div class="input-group border-input">
                        <span class="input-group-addon"><i class="ti-bookmark"></i></span>
                        <input type="text" placeholder="Название раздела" class="form-control border-input" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-push btn-default dropdown-toggle" data-push="category" data-toggle="dropdown">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Управление статическими страницами</h3>
                </div>
                <div class="panel-body">
                    {% profiles_elements %}
                </div>
                <div class="panel-footer">
                    <div class="input-group border-input">
                        <span class="input-group-addon"><i class="ti-instagram"></i></span>
                        <input type="text" placeholder="Имя страницы" class="form-control border-input" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-push btn-default dropdown-toggle" data-push="profiles" data-toggle="dropdown">Добавить</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Результат</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>

        </div>

    </div>
</div>