<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img src="/web/assets/img/favicon.ico">
			<a class="navbar-brand" href="/">{% name %}</a>
			<span>товары от разны продвацов Инстаграмма в одном месте с удобным поиском</span>
			<a href="javascript://" class="btn btn-primary btn-follow">Подписаться</a>
		</div>
	</div>
</div>

<div class="container">

	<div class="container-menu">
		<ul class="nav nav-list">
			<li class="nav-header">
				<h4><b>Категории</b></h4>
			</li>
			{% nav_menu %}<br>
			<li><a href="javascript://" onclick="history.back(); return false;"><span class="glyphicon glyphicon-chevron-left"></span> Вернутся назад</a></li>
		</ul>
	</div>

	{% content %}
</div>

<div id="footer">
	<div class="container">
		<p class="text-muted">&copy; <script>document.write(new Date().getFullYear())</script>, made by <a href="http://quenix.xyz" target="_blank">{% company %}</a></p>
	</div>
</div>