<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img src="/web/assets/img/favicon.ico">
			<a class="navbar-brand" href="/">{% name %}</a>
			<span>товары от разны продвацов Инстаграмма в одном месте с удобным поиском</span>
			<a href="javascript://" class="btn btn-primary btn-follow">Подписаться</a>
		</div>
		<!-- <div class="navbar-collapse collapse" style="height: 1px;">
			<ul class="nav navbar-nav">
				{% nav_menu %}
			</ul>
		</div> -->
	</div>
</div>

<div class="container">
	<font color="#777">Фильтр отображения</font>
	<div class="panel panel-filter">
		<label>ПОКАЗАТЬ НОВИНКИ ЗА </label>
		<b>
		<a href="?sort=1">СЕГОДНЯ</a> |
		<a href="?sort=3">3 ДНЯ</a> |
		<a href="?sort=7">7 ДНЕЙ</a> |
		<a href="?sort=14">14 ДНЕЙ</a> |
		<a href="?sort=30">МЕСЯЦ</a> |
		<a href="?sort=60">60 ДНЕЙ</a></b><br>
		<label>Цвет</label>
		<div class="filter-color">
			<a href="?color=all">ВСЕ ЦВЕТА</a>
			<a href="?color=black" style="background: black;"></a>
			<a href="?color=grey" style="background: grey;"></a>
			<a href="?color=red" style="background: red;"></a>
			<a href="?color=green" style="background: green;"></a>
			<a href="?color=blue" style="background: blue;"></a>
			<a href="?color=purple" style="background: purple;"></a>
			<a href="?color=brown" style="background: brown;"></a>
			<a href="?color=white" style="background: white;"></a>
			<a href="?color=pink" style="background: pink;"></a>
			<a href="?color=yellow" style="background: yellow;"></a>
		</div>
	</div>

	<div class="container-menu">
		<ul class="nav nav-list">
			<li class="nav-header">
				<h4><b>Категории</b></h4>
			</li>
			{% nav_menu %}
		</ul>
	</div>

	<div class="row container-items">

		{% content %}

	</div>
</div>

<div id="footer">
	<div class="container">
		<p class="text-muted">&copy; {% year %}, made by <a href="http://quenix.xyz" target="_blank">{% company %}</a></p>
	</div>
</div>