<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img src="/web/assets/img/favicon.ico">
			<a class="navbar-brand" href="/">{% name %}</a>
			<span>товары от разных продавцов Instagram в одном месте с удобным поиском</span>
			<a href="javascript://" class="btn btn-primary btn-follow">Подписаться</a>
		</div>
		<!-- <div class="navbar-collapse collapse" style="height: 1px;">
			<ul class="nav navbar-nav">
				{% nav_menu %}
			</ul>
		</div> -->
	</div>
</div>

<div class="container">
	<font color="#777">Фильтр отображения</font>
	<div class="panel panel-filter">
		<label>ПОКАЗАТЬ НОВИНКИ ЗА </label>
		<b>
		<a href="?sort=1{% color %}">СЕГОДНЯ</a> |
		<a href="?sort=3{% color %}">3 ДНЯ</a> |
		<a href="?sort=7{% color %}">7 ДНЕЙ</a> |
		<a href="?sort=14{% color %}">14 ДНЕЙ</a> |
		<a href="?sort=30{% color %}">МЕСЯЦ</a> |
		<a href="?sort=60{% color %}">60 ДНЕЙ</a></b><br>
		<label>Цвет</label>
		<div class="filter-color">
			<a href="?{% sort %}color=all">ВСЕ ЦВЕТА</a>
			<a href="?{% sort %}color=black" style="background: black;"></a>
			<a href="?{% sort %}color=grey" style="background: grey;"></a>
			<a href="?{% sort %}color=red" style="background: red;"></a>
			<a href="?{% sort %}color=green" style="background: green;"></a>
			<a href="?{% sort %}color=blue" style="background: blue;"></a>
			<a href="?{% sort %}color=purple" style="background: purple;"></a>
			<a href="?{% sort %}color=brown" style="background: brown;"></a>
			<a href="?{% sort %}color=white" style="background: white;"></a>
			<a href="?{% sort %}color=pink" style="background: pink;"></a>
			<a href="?{% sort %}color=yellow" style="background: yellow;"></a>
		</div>
	</div>

	<div class="container-menu">
		<ul class="nav nav-list">
			<li class="nav-header">
				<h4><b>Категории</b></h4>
			</li>
			{% nav_menu %}
		</ul>
	</div>

	<div class="row container-items">

		{% content %}

	</div>
</div>

<div id="footer">
	<div class="container">
		<p class="text-muted">{% page_links %} &copy; {% year %}</p>
	</div>
</div>

<div class="modal fade" id="newFollow" role="dialog" data-backdrop="false">
	<div class="modal-dialog" role="document">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Подписаться на рассылку</h4>
			</div>

			<div class="modal-body">
				<form id="newFollowForm" class="newFollowForm">

					<div class="form-group">
						<label for="inputEmail">Укажите адрес электронной почты:</label>
						<div class="input-group">
							<span class="input-group-addon ti-email"></span>
							<input type="text" class="form-control" id="inputEmail" name="email" placeholder="E-Mail">
						</div>
					</div>

				</form>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
				<button type="submit" form="newFollowForm" class="btn btn-add btn-primary">Подписаться</button>
			</div>

		</div>

	</div>
</div>