<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Управление подписчиками</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                    <th>№</th>
                    <th>Почта</th>
                    <th>Активность</th>
                    </thead>
                    <tbody>
                        {% items %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>