<div class="col-xs-5 col-sm-4 col-md-3">
    <div class="input-group-btn">
        <a href="/p/{% img_id %}" target="_blank" data-toggle="dropdown" class="thumbnail">
            <img src="{% image %}" style="height: 120px;">
        </a>
        <ul class="dropdown-menu pull-right">
            <li><a href="/p/{% img_id %}" target="_blank">Просмотреть</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1"  href="javascript://" class="btn-edit">Редактировать</a></li>
            </li>
            <li><a href="javascript://" class="btn-del" data-del="sorted" data-id="{% img_id %}">Удалить</a></li>
        </ul>
    </div>
</div>