<div id="_reg_block">
    <div class="_auth_panel">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="text-center text-primary"><h3>Авторизация</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 login-box">
                            <form id="_auth_form" role="form" method="post" action="/_auth">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="text" class="form-control" name="login" placeholder="Имя пользователя" required autofocus />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    <input type="password" class="form-control" name="password" placeholder="Ваш пароль" required />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember" form="_auth_form" value="remember">
                                    Запомнить меня
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 btn-right">
                            <button type="submit" form="_auth_form" class="btn btn-labeled btn-success">
                                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Войти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>