<div id="_reg_block">
    {% if login %}
        Авторезирован
    {% else %}
        <div id="_auth_btn">Войти</div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br />
                                        <a href="#" class="btn facebook btn-block" role="button">Войти с помощью Facebook</a>
                                        <br />
                                        <a href="#" class="btn vk btn-block" role="button">Войти с помощью Вконтакте</a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 login-box">
                                        <form role="form">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                <input type="text" class="form-control" placeholder="Имя пользователя" required autofocus />
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                                <input type="password" class="form-control" placeholder="Ваш пароль" required />
                                            </div>
                                            <p>
                                                <a href="#">Забыли свой пароль?</a></p>
                                            У вас нет аккаунта? <a href="#">Регистрация</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6 no-padding">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="Remember">
                                                Запомнить меня
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <button type="button" class="btn btn-labeled btn-success">
                                            <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Войти</button>
                                        <button type="button" class="btn btn-labeled btn-danger">
                                            <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Выход</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    {% endif %}
</div>